<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon src="assets/icon/WarframeIcon.svg"></ion-icon>
      <ion-label>Loot</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">     
      <ion-icon src="assets/icon/VoidFissure.svg"></ion-icon>
      <ion-label>Fissure</ion-label>
    </ion-tab-button>

  <!--
    <ion-tab-button tab="tab3">
      <ion-icon src="assets/icon/RivenMod.svg"></ion-icon>
      <ion-label>Riven</ion-label>
    </ion-tab-button>
  -->  
  </ion-tab-bar>

</ion-tabs>
