<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Riven
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar type="text" placeholder="Arme" (keyup.enter)="onSearchRiven($event)"></ion-searchbar>
  </ion-toolbar>

<!--

  <ion-list>
    <ion-item *ngFor="let list of listresult">
      <ion-label>
        <ion-text color="primary"><h3> {{}}</h3></ion-text>
        <p></p>
      </ion-label>
    </ion-item>
  </ion-list>
-->

<label>Stat 1 </label><br />
<select [(ngModel)]="AttributeName1">
    <option *ngFor="let Attribute of ListAttributeName" [value]="Attribute">
      {{Attribute}}
    </option>
</select><br />

<label>Stat 2 </label><br />
<select [(ngModel)]="AttributeName2">
    <option *ngFor="let Attribute of ListAttributeName" [value]="Attribute">
      {{Attribute}}
    </option>
</select><br />

<label>Stat 3 </label><br />
<select [(ngModel)]="AttributeName3">
    <option *ngFor="let Attribute of ListAttributeName" [value]="Attribute">
      {{Attribute}}
    </option>
</select><br />

<label>Stat negative </label><br />
<select [(ngModel)]="AttributeNegativeName">
    <option *ngFor="let Attribute of ListAttributeName" [value]="Attribute">
      {{Attribute}}
    </option>
</select><br />



  <ion-list>
    <ion-item *ngFor="let riven of ListAll">
      <ion-label>
        <ion-text color="primary">
          <h3>
            <div *ngIf="riven.top_bid!=null">{{riven.top_bid}}</div>
            <div *ngIf="riven.top_bid==null && riven.starting_price!=null">{{riven.starting_price}}</div>
            <div *ngIf="riven.top_bid==null && riven.starting_price==null">{{riven.buyout_price}}</div>
          </h3>
        </ion-text>
        <p></p>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>
